* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.mainTitles {
  text-align: center;
  background-color: aliceblue;
  border: 2px solid white;
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
}

#intro {
  padding: 5px;
  font-size: 30px;
}

#byWhom {
  padding: 5px;
}

#extraThings {
  text-decoration: none;
  font-size: 22px;
}

.mainBody {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

#introHeader {
  margin: 10px;
  padding-bottom: 10px;
}

#introBody {
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  padding-top: 30px;
}

#csLink {
  text-decoration: none;
}

#csLink:active,
#csLink:visited {
  color: black;
  text-decoration: none;
}

#csLink:hover {
  color: blue;
  text-decoration: none;
}

#japLink {
  text-decoration: none;
}

#japLink:active,
#japLink:visited {
  color: black;
  text-decoration: none;
}

#japLink:hover {
  color: blue;
  text-decoration: none;
}

#physicsLink {
  text-decoration: none;
}

#physicsLink:active,
#physicsLink:visited {
  color: black;
  text-decoration: none;
}

#physicsLink:hover {
  color: blue;
  text-decoration: none;
}

#mathLink {
  text-decoration: none;
}

#mathLink:active,
#mathLink:visited {
  color: black;
  text-decoration: none;
}

#mathLink:hover {
  color: blue;
  text-decoration: none;
}

#setCog {
  width: 50;
  height: 50;
  position: absolute;
  right: 15;
  bottom: 10;
}

#socials {
  padding-top: 7px;
  padding-left: 10px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 10;
  border: 2px solid white;
  border-radius: 9px;
  width: 25%;
  background-color: burlywood;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

#socials:hover {
  background-color: #45a049;
}

#imageGithub {
  width: 40;
  height: 40;
}

#imageLinkedIn {
  width: 50;
  height: 40;
}
