* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Times New Roman;
  user-select: none;
}

.navi {
  transition: width 0.9s ease;
  background-color: darkred;
  left: 0;
  position: fixed;
  height: 100%;
  width: 20%;
  border: 2px solid black;
}

#exClassesLink {
  display: block;
}

#archInLink {
  display: block;
}

#goBack {
  display: block;
}

#arrImg {
  transition: left 0.7s ease;
  width: 40;
  height: 40;
  left: 200;
  bottom: 5;
  position: fixed;
  border: 2px solid black;
}

#mainBody {
  right: 0;
  position: absolute;
  font-size: 12px;
}

#secondP {
  bottom: 10;
  right: 0;
  position: absolute;
}
